.wrapper {

  .button {
    cursor: pointer;
    border: none;
    background-color: transparent;

    &.useBorder {
      border: 2px solid white;
      border-radius: 5%;
      transition: .3s background-color, 0.3s box-shadow;

      &:hover {
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px); // for Safari
        background: rgba(255, 255, 255, 0.3);
        box-shadow: 0 0 0 3px white;
      }
    }
  }
}
