.background-container {
  display: flex;
  align-items: center; /* Vertically center the content */
  justify-content: center; /* Horizontally center the content */
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -3; /* Make sure to maintain stacking context */
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  z-index: -2;  // Ensure the background is above the base container level
}

.background-with-overlay {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--overlay-color);
  opacity: var(--overlay-opacity);
  z-index: -1;  // Overlay should be above the background it modifies
}

.content {
  position: relative;
  max-width: 800px;
  width: 100%;
  padding: 20px;
  z-index: 0;
}

@media (max-width: 600px) {
  .shiny-border {
    margin-top: 30px // Smaller shift on mobile to keep more space at the bottom
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-out {
  opacity: 1; /* Initial state */
  animation-name: fadeOut;
  animation-fill-mode: forwards;
}

.fade-in {
  opacity: 0; /* Initial state */
  animation-name: fadeIn;
  animation-fill-mode: forwards;
}

