<p>IS HERE</p>
<!--<app-carousel-->
<!--  #carousel-->
<!--  [maxHeight]="'500px'"-->
<!--  [images]="paths()"-->
<!--&gt;</app-carousel>-->
<!--<div class="swiper">-->
<!--  <div class="swiper-wrapper">-->
<!--    @for (image of imagesPaths; track image) {-->
<!--      <div-->
<!--        class="swiper-slide"-->
<!--        [ngStyle]="{'height': '500px', 'display': 'flex', 'justify-content': 'center', 'align-items': 'center'}"-->
<!--      >-->
<!--        <app-image-slide-->
<!--          [image]="image"-->
<!--          class="swiper-slide"-->
<!--        ></app-image-slide>-->
<!--      </div>-->
<!--    }-->
<!--  </div>-->
<!--  <div class="swiper-pagination"></div>-->
<!--  <div class="swiper-button-prev swiper-button-color"></div>-->
<!--  <div class="swiper-button-next swiper-button-color"></div>-->
<!--  <div class="swiper-scrollbar"></div>-->
<!--</div>-->
