.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  p {
    font-size: 1em;
    text-align: left;
    margin: 0 1em;
    color: white;
    letter-spacing: 1px;
  }

  .additional-functions__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
  }
}
