<div class="wrapper">
  <p>{{ comment }}</p>
  <div class="image_wrapper" [class.hasAdditionalFunctions]="hasAdditionalFunctions()">
      <img [alt]="name" [src]="imagePath"/>
    @if (hasAdditionalFunctions()) {
      <div
        class="additional-functions__wrapper"
        (mouseenter)="setAdditionFunctionsHover(true)"
        (mouseleave)="setAdditionFunctionsHover(false)"
      >
        <div class="additional-functions__buttons" [class.buttonsOnHover]="isAdditionFunctionsHover()">
          @if (hasImages()) {
            <div>
              <app-icon-button (click)="onAlbumButtonClick(EModalContent.gallery, images)">
                <img src="images/icons/gallery2_128.png" alt="Gallery">
              </app-icon-button>
            </div>
          }
          @if (hasPlaylist()) {
            <div>
              <app-icon-button (click)="onAlbumButtonClick(EModalContent.playlist, playList)">
                <img src="images/icons/playlist2_128.png" alt="Playlist">
              </app-icon-button>
            </div>
          }
          <div>
            <app-icon-button (click)="onAlbumButtonClick(EModalContent.buy)">
              <img src="images/icons/buy2_128.png" alt="Buy Album">
            </app-icon-button>
          </div>
        </div>
      </div>
    }
  </div>
</div>

@if (showModalContentType() !== EModalContent.none) {
  <app-modal
    (close)="onAlbumButtonClick(EModalContent.none)"
    [isCloseButtonShown]="true"
  >
    @if (showModalContentType() === EModalContent.gallery && images && images.length > 0) {
      <app-modal-content-gallery [imagesPaths]="images" [galleryName]="name" />
    }
    @if (showModalContentType() === EModalContent.playlist && playList?.tracks && playList!.tracks.length > 0) {
      <app-modal-content-playlist [playlist]="playList || NULL_PLAYLIST" [title]="'Flashback'" />
    }
    @if (showModalContentType() === EModalContent.buy) {
      <app-modal-content-buy/>
    }
  </app-modal>
}

