.player {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  background-color: #8d9ffd;
  border-radius: 0.5em;
  cursor: pointer;

  img {
    height: inherit;
  }

  .song-name {
    font-weight: bold;
    width: 30%;
    color: white;
    overflow: hidden;
  }

  .progress-bar {
    width: 50%;
    height: 10px;
    background: #5e5e5e;
    border-radius: 5px;
    overflow: hidden;
  }

  .progress {
    height: 100%;
    background: white;
    width: 0;
    transition: width 0.2s linear;
  }
}




