$deep-blue: #061365FF;

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  width: 50%;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  border-top: 0.2em solid black;
  border-bottom: 0.2em solid black;
  margin-bottom: .3em;
}

.player {
  width: 60%;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .play_component {
    width: 100%;
    background-color: $deep-blue;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: white;
    border-radius: .5em;

    .content {
      width: 97%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 0.5em;

      .track-image {
        width: 100px;
        height: 100px;
        border-radius: 5%;
        border: 1px solid white;

        img {
          width: 100%;
          height: 100%;
          border-radius: inherit;
        }
      }

      .controls {
        margin-left: 1em;
        width: 75%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-grow: 1;

        .button-icon-wrapper {
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            --tint-color: white;
            filter: drop-shadow(0px 1000px 0 var(--tint-color));
            transform: translateY(-1000px);
          }
        }

        audio {
          width: 50%;
        }
      }
    }

    .song-name {
      width: 100%;
      text-align: center;
      border-bottom: 2px solid white;
      margin-bottom: 8px;
      font-size: 1.2rem;
      font-weight: bold;
    }
  }

  .tracks-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    app-sound-track {
      width: 100%;
      transition: 0.3s all;
      border-radius: .7em;
      border: 2px solid #8d9ffd;
      height: 2em;

      &:hover {
        border: 2px solid black;
      }

      &.isActive {
        border: 2px solid $deep-blue;
      }
    }
  }
}
