.title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.player {
  width: 300px;
  font-family: sans-serif;

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
    width: 100%;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.song-name {
  margin-bottom: 8px;
  font-weight: bold;
}
button {
  margin-bottom: 8px;
}
.progress-bar {
  width: 100%;
  height: 10px;
  background: #ccc;
  border-radius: 5px;
  overflow: hidden;
}
.progress {
  height: 100%;
  background: #3f51b5;
  width: 0;
  transition: width 0.2s linear;
}
