* {
  margin: 0;
  padding: 0;
  //box-sizing: border-box;
}

a {
  color: #fff;
}

a:hover {
  text-decoration: none;
}

a img {
  border: none;
}

/*!******************************************************************************!*/

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  background: #000;
}

.main_container_wrapper {
  //flex-wrap: wrap;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.main_container {
  display: flex;
  flex-flow: row;
  justify-items: center;
  Align-items: center;
  text-align: center;
  justify-content: center;
}

.image_wrapper {
  max-height: 400px;
}

.logo {
  position: absolute;
  top: 10%;
  left: 10%;
}

#menu {
  text-align: center;
  display: flex;
  flex-flow: row;
}

#menu a {
  $size: 3.5em;
  height: $size;
  width: $size;
}

.menu_item {
  height: 52px;
  width: 52px;
  margin: 10px 0;
  border: 2px solid transparent;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  //transition: border-color 0.2s, margin 0.2s;
  transition: border-color 0.2s;

  img {
    width: inherit;
    height: inherit;
    background: center center no-repeat;
    border: 2px solid #000;
    object-fit: contain;
    //transition: border-color 0.5s, margin .5s;
    transition: border-color 0.5s;
  }
}

.menu_item :first-child {
  margin: 2px 0 0 1px;
}

.menu_item:hover,
{
  border-color: #fff;
  transition: border-color 0.5s, margin .5s;
  //margin-left: .2em;
  //margin-right: .2em;
}

/******************************************************************************/

#contact {
  margin: 10px 0 30px;
  text-align: center;
}

#contact a {
  font-weight: bold;
  text-decoration: none;
}

#contact a:hover {
  text-decoration: underline;
}

#contact p.smaller {
  font-size: 80%;
  font-weight: normal;
}

#contact p.dark a {
  color: #666;
}

/******************************************************************************/

.hidden {
  display: none;
}

.image_link {
  background-position: center;
  background-repeat: no-repeat;
}
