form {
  padding: 2rem 1rem;
  color: #fff;

  h2 {
    font-weight: bold;
    margin-bottom: 1.5rem;
    font-size: 2rem;
  }

  .form-label {
    font-weight: 500;
    display: block;
    margin-bottom: 0.5rem;
  }

  .checkbox-input__wrapper {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-start;
    gap: .7em;
    margin-bottom: 1em;

    label {
      margin: 0 0 0.1rem;
    }

    img {
      height: 1em;
      width: 1em;
    }
  }

  .form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &.is-invalid {
      border-color: mediumvioletred;
      background-color: #ffe6f0;
    }

    &:focus {
      outline: none;
      border-color: #86b7fe;
      box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.25);
    }
  }

  .invalid-feedback {
    display: block;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.875rem;
    color: mediumvioletred;
  }

  .mb-3 {
    margin-bottom: 1rem;
  }

  button[type='submit'] {
    width: 100%;
    padding: 0.5rem 1rem;
    font-weight: 600;
    background-color: #0d6efd;
    color: white;
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;

    &:disabled {
      background-color: #6c757d;
      cursor: not-allowed;
    }

    &:not(:disabled):hover {
      background-color: #0b5ed7;
    }

    margin-top: 1rem;
  }
}
