<div class="player">
  <div class="buttons">
    <app-icon-button
      (click)="togglePlay()"
      [showBorder]="false"
      [width]="'2em'"
      [height]="'2em'"
    >
      @if (isPlaying()) {
        <img src="images/icons/pause.png" alt="pause" >
      } @else {
        <img src="images/icons/play.png" alt="play">
      }
    </app-icon-button>
  </div>
  <div class="song-name">{{ track.title }}</div>
  <div class="progress-bar">
    <div class="progress" [style.width.%]="progress()"></div>
  </div>
</div>
