.player {
  width: 100%;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  background-color: #3f51b5;
  border-radius: 0.5em;

  .buttons {
    img {
      width: 100%;
      height: 100%;
    }

    button {
      margin-bottom: 8px;
    }
  }

  .song-name {
    font-weight: bold;
    width: 30%;
    color: white;
    overflow: hidden;
  }

  .progress-bar {
    width: 50%;
    height: 10px;
    background: #ccc;
    border-radius: 5px;
    overflow: hidden;
  }

  .progress {
    height: 100%;
    background: white;
    width: 0;
    transition: width 0.2s linear;
  }
}




